* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px 5px 0px;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url(../img/patron-de-lineas-negro_2440x4320_xtrafondos.com.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.pres h1 {
    color: rgb(0, 225, 255);
    font-size: 60px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.pres h2 {
    text-align: justify;
    color: rgb(29, 224, 22);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin: 20px;
}

.pres img {
    width: 30%;
    height: 30%;
}

.pres p {
    text-align: justify;
    color: rgb(173, 252, 3);
    background-color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
}

.pres .todalapres {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 50px 30px 50px 30px;
}

.fotopres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotopres img {
    width: 250px;
    height: 250px;
    align-items: center;
}

.fotopres img:hover {
    width: 300px;
    height: 300px;
}

.fotopres div {
    width: 250px;
    height: 290px;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    margin: 10px;
}

.fotopres a {
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 45);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

body h3 {
    text-align: center;
    color: rgb(187, 0, 255);
    background-color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.cancion2{
    display: none;
    align-items: center;
}

.copy {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}













.nosotros-titulo h1 {
    text-align: center;
    color: rgb(22, 224, 197);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-titulo h2 {
    text-align: center;
    color: rgb(22, 224, 197);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-nosotros {
    display: flex;
    flex-wrap: wrap;
}

.nosotros-nosotros img {
    width: 250px;
    height: 250px;
}

.nosotros-nosotros div:hover {
    width: 250px;
    height: 290px;
    border: 1px solid rgb(44, 44, 44);
    text-align: center;
    margin: 15px;
    box-shadow: 20px 10px 30px -10px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 20px 10px 30px -10px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 20px 10px 30px -10px rgba(255, 255, 255, 0.75);
    transition: 1s;
}

.nosotros-nosotros a {
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 45);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}






.historias-titulo h1 {
    text-align: center;
    color: rgb(224, 224, 22);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.historias-titulo h2 {
    text-align: center;
    color: rgb(226, 199, 44);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.historias-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    color: #444;
    flex-wrap: wrap;
    padding: 10px;
}



.historias-contenedor a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    margin: 15px;
    box-shadow: 20px 10px 30px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 20px 10px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 10px 30px -10px rgba(0, 0, 0, 0.75);
    transition: 1s;
}

.historias-contenedor img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 010pt 10pt 20pt 10pt;
}


.form-label {
    color: white;
}

.contactanos-mic {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.bootstrap {
width: 40%;
height: 40%;
}

.acercade-to h1 {
    font-size: 60px;
    color: rgb(255, 167, 249);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
input:focus{
    border: 5px solid green;
}
.acercade-to h2 {
    font-size: 25px;
    color: rgb(232, 52, 241);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10pt 10pt 10pt 10pt;
}
.fotovac {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 30px 50px 30px;
}
.acercade-to p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10pt 10pt 10pt 10pt;
}

@media screen and (max-width:360px){
    main .todalapres img{
        display: none;
    }
    main .todalapres h2{
        text-align: center;
    }
    .cancion{
        display: none;
    }
    .cancion2{
        display: flex;
    }
}
@media screen and (max-width:360px){
    .fotovac{
        display: none;
    }
}